@font-face {
  font-family: 'Ramabhadra';
  src: url(/fonts/Ramabhadra-Regular.ttf);
}

html,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
center,
ol,
ul,
li,
fieldset,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  background-color: #000;
  height: 5rem;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

li a {
  font-size: 3rem;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  color: #FFF;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Ramabhadra";
}

.menuChoice {
  margin: 300px 0 0 0;
}

footer {
  margin-top: auto;
  width: 100%;
  background-color: #000;
  height: 8%;
}

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test1 {
  display: inline-block;
  width: 5%;
  margin: 20px 50px 0 20px;
}

.facebookicon {
  margin-left: 50%;
  width: 65%;
  height: 70%;
}

.githubicon {
  margin-left: 36%;
  width: 60%;
  height: 65%;
}

.instagramicon {
  margin-left: 20%;
  width: 60%;
  height: 70%;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #FFF;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #000;
}

.body-index {
  background-image: url(/img/pattern.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Ramabhadra";
}

.container {
  text-align: center;
  margin: 6rem 0 5rem 0;
}

.container__line1 {
  font-size: 4rem;
  font-family: "Ramabhadra";
}

.container__line2 {
  font-size: 3rem;
  font-family: "Ramabhadra";
}

.container__line3 {
  font-size: 2.5rem;
  font-family: "Ramabhadra";
}

.container__line4 {
  font-size: 1.9rem;
  font-family: "Ramabhadra";
}

.containerbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerbtn__btn {
  height: 3.5rem;
  border-radius: 5px;
  background-color: #ffe70b;
  text-transform: uppercase;
  width: 300px;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  margin: 150px 150px;
}

.containerbtn__btn:hover {
  background-color: #f7b528;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexelements {
  width: 14%;
  background-color: #0177bb;
  color: #FFF;
  height: 320px;
  margin: 40px 40px 0 0;
  border-radius: 6px;
}

.headling-work {
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0 0 0;
}

#lists, #list2 {
  display: inline-block;
  list-style-type: square;
  margin: 8px 0 0 10px;
  font-size: 1.3rem;
}

#list2 {
  padding: 0 0 0 20px;
}

.workexperience {
  margin: 5px 0 0 0;
}

.containersnap {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Ramabhadra";
}

.btn-down {
  position: fixed;
  bottom: 100px;
  right: 50px;
}

.containersnap__elements {
  margin: 12rem 0 0 0;
}

.containersnap__imagecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolioheading {
  text-align: center;
  font-size: 1.9rem;
  text-transform: uppercase;
  margin: 3.125rem 0 3.125rem 0;
}

.pageinfo {
  max-width: 50%;
  margin: auto;
}

.pageinfo__heading {
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0 20px 0;
}

.pageinfo__heading2 {
  margin: 0 0 0 30px;
}

.pageinfo__txt {
  margin: 20px 0 0 30px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons__specific {
  margin: 1.5rem 0 5rem 1.5rem;
}

.containersnap__spacex {
  width: 50%;
}

.containersnap__gameofthrones {
  width: 45%;
}

.form-body {
  background-image: url(/img/pattern.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Ramabhadra";
}

.scroll-activate {
  overflow: visible;
}

.formheadline {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.contactmessage {
  text-align: center;
}

.coffecup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image {
  width: 12%;
}

/************LAYOUT FOR FORMS***************/
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (120px)[3];
      grid-template-rows: repeat(3, 120px);
}

.grid-container__child1 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.grid-container__child2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.grid-container__child3 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
  position: relative;
}

input[type=text] {
  text-align: center;
  width: 50%;
  height: 2rem;
  border: 0.1rem solid #6C6E66;
  border-radius: 0.3rem;
}

input[type=text]:focus {
  outline: none;
  background-color: #FFFFEC;
}

.firstname {
  margin: 0 1rem 1rem 2.2rem;
  font-family: "Ramabhadra";
}

.lastname {
  margin: 0 1rem 1rem 2.3rem;
  font-family: "Ramabhadra";
}

.emailadress {
  margin: 0 1rem 1rem 1rem;
  font-family: "Ramabhadra";
}

.form-txt {
  font-size: 1.3rem;
}

textarea {
  width: 600px;
  height: 300px;
  border: 0.1rem solid #6C6E66;
  border-radius: 0.3rem;
  font-family: "Ramabhadra";
}

textarea:focus {
  outline: 0;
  background-color: #FFFFEC;
}

/************LAYOUT FOR FORMS***************/
/************BUTTON***************/
.sendbtn {
  position: absolute;
  left: 125px;
  top: 3px;
  height: 3.5rem;
  border-radius: 5px;
  background-color: #ffe70b;
  text-transform: uppercase;
  width: 350px;
  font-family: "Ramabhadra";
}

/************BUTTON***************/
/*# sourceMappingURL=styles.css.map */