.form-body {
    background-image: url(/img/shapelined-_JBKdviweXI-unsplash.jpg);
    background-position: center;
    background-repeat: repeat;
}

.scroll-activate {
    overflow: visible;
}

.formheadline {
    text-align: center;
    font-size: $headingOne;
    text-transform: uppercase;
}

.contactmessage {
    text-align: center;
}

.coffecup {
    display: flex;
    justify-content: center;
}

.image {
    width: 12%;
}

/************LAYOUT FOR FORMS***************/
.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 120px);
}

.grid-container__child1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.grid-container__child2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
}

.grid-container__child3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    position: relative;
}

input[type=text] {
    text-align: center;
    width: 50%;
    height: 2rem;
    border: 0.1rem solid $border-color;
    border-radius: 0.3rem;
}

input[type=text]:focus {
    outline: none;
    background-color: #FFFFEC;
}

.firstname {
    margin: 0 1rem 1rem 2.2rem;
}

.lastname {
    margin: 0 1rem 1rem 2.3rem;
}

.emailadress {
    margin: 0 1rem 1rem 1rem;
}

.form-txt {
    font-size: $textsize;
}

textarea {
    width: 600px;
    height: 300px;
    border: 0.1rem solid $border-color;
    border-radius: 0.3rem;
}

textarea:focus {
    outline: 0;
    background-color: #FFFFEC;
}

/************LAYOUT FOR FORMS***************/

/************BUTTON***************/
.sendbtn {
    position: absolute;
    left: 125px;
    top: 3px;
    @include btn();
    width: 350px;
}

/************BUTTON***************/