.form-body {
    background-image: url(/img/newpattern.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: $fonts;
}

.scroll-activate {
    overflow: visible;
}

.formheadline {
    text-align: center;
    font-size: $headingOne;
    text-transform: uppercase;
}

.contactmessage {
    text-align: center;
}

.coffecup {
    display: flex;
    justify-content: center;
}

.image {
    width: 12%;
}

/************LAYOUT FOR FORMS***************/
.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 120px);
}

.grid-container__child1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

.grid-container__child2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
}

.grid-container__child3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    position: relative;
}

input[type=text] {
    text-align: center;
    width: 85%;
    height: 3rem;
    border: 0.1rem solid $border-color;
    border-radius: 0.3rem;
}

input[type=text]:focus {
    outline: none;
    background-color: #FFFFEC;
}

.firstname {
    margin: 0 1rem 1rem 2.2rem;
    font-family: $fonts;
}

.lastname {
    margin: 0 1rem 1rem 2.3rem;
    font-family: $fonts;
}

.emailadress {
    margin: 0 1rem 1rem 2.2rem;
    font-family: $fonts;
}

.form-txt {
    font-size: $textsize;
}

.label__layout {
    text-align: center;
}

textarea {
    width: 500px;
    height: 300px;
    border: 0.1rem solid $border-color;
    border-radius: 0.3rem;
    font-family: $fonts;
}

textarea:focus {
    outline: 0;
    background-color: #FFFFEC;
}

/************LAYOUT FOR FORMS***************/

/************BUTTON***************/
.sendbtn {
    position: absolute;
    left: 35px;
    top: 90px;
    @include btn();
    width: 570px;
    font-family: $fonts;
}

/************BUTTON***************/


/************TABLET***************/

@media screen and (max-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 120px);
    }

    .grid-container__child1 {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 1;
    }

    .grid-container__child2 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 5;
        margin: 0 0 200px 0;
    }

    .grid-container__child3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        position: relative;
    }

    .label__layout {
        text-align: center;
        margin: 10px 120px 0 0;
    }

    .sendbtn {
        position: absolute;
        left: 40px;
        top: 320px;
        width: 450px;
    }

    input[type=text] {
        width: 70%;
        height: 2.5rem;
    }

    textarea {
        width: 450px;
        height: 250px;
        margin: 0 0 0 40px;
    }
}

@media screen and (max-width: 767px) {
    .grid-container__child1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
    }

    .grid-container__child2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        margin: 0 0 200px 0;
    }

    .grid-container__child3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        position: relative;
    }

    textarea {
        width: 251px;
        margin: 0 0 0 48px;
    }

    .sendbtn {
        position: absolute;
        left: -50px;
        top: 320px;
        width: 190px;
    }


    .label__layout {
        text-align: center;
        margin: 10px 30px 10px 0;
    }

    .formheadline {
        text-align: center;
        font-size: $tabletNavFont;
        text-transform: uppercase;
    }

    .firstname {
        margin: 0 1rem 1rem 2.8rem;
    }


    .lastname {
        margin: 0 1rem 1rem 2.8rem;
        font-family: $fonts;
    }

    .emailadress {
        margin: 0 1rem 1rem 2.8rem;
        font-family: $fonts;
    }
}