.body-index {
    background-image: url(/img/pattern.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: $fonts;
}

.container {
    text-align: center;
    margin: 6rem 0 5rem 0;
}


.container__line1 {
    font-size: $headingFrontpage1;
    font-family: $fonts;
}

.container__line2 {
    font-size: $headingFrontpage2;
    font-family: $fonts;
}

.container__line3 {
    font-size: $headingFrontpage3;
    font-family: $fonts;
}

.container__line4 {
    font-size: $headingFrontpage4;
    font-family: $fonts;
}



.containerbtn {
    display: flex;
    justify-content: center;

}

.containerbtn__btn {
    @include btn();
    width: 300px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: $mainColor;
    font-size: $textsize;
    margin: 150px 150px;
}

.containerbtn__btn:hover {
    background-color: #f7b528;
    transform: translateY(1px);
}

.flexcontainer {
    display: flex;
    justify-content: center;
}

.flexelements {
    width: 14%;
    background-color: #0177bb;
    color: $fontColor;
    height: 320px;
    margin: 40px 40px 0 0;
    border-radius: 6px;
}

.headling-work {
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0 0 0;
}

#lists {
    display: inline-block;
    list-style-type: square;
    margin: 8px 0 0 10px;
    font-size: $textsize;
}

#list2 {
    @extend #lists;
    padding: 0 0 0 20px;

}

.workexperience {
    margin: 5px 0 0 0;
}