nav {
    background-color: $mainColor;
    height: 5rem;
}

ul {
    @include flex();
    justify-content: space-around;
    list-style-type: none;
}

li a {
    font-size: $headingOne;
    text-decoration: none;
    color: $mainColor;
    text-transform: uppercase;
    color: $fontColor;
    flex: 1;
}

.menuChoice {
    margin: 300px 0 0 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $mainColor;
    height: 10%;
}

.socialmedia {
    display: flex;
    justify-content: center;
}

.facebookicon {
    width: 20px;
}

.instagramicon {
    width: 5%;
}