nav {
    background-color: $mainColor;
    height: 5rem;
}

ul {
    @include flex();
    justify-content: space-around;
    list-style-type: none;
}

li a {
    font-size: $headingOne;
    text-decoration: none;
    color: $mainColor;
    text-transform: uppercase;
    color: $fontColor;
    flex: 1;
}

.menuChoice {
    margin: 300px 0 0 0;
}

footer {
    position: fixed; /* Instead of 'absolute' */
    bottom: 0px;
    height: 5rem;
    width: 100%;
    background-color: $mainColor;
}


