.containersnap {
    background-image: url(/img/newpattern.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: $fonts;
}

.btn-down {
    position: fixed;
    bottom: 100px;
    right: 50px;
    cursor: pointer;
}


.containersnap__elements {
    margin: 12rem 0 0 0;
}

.containersnap__imagecontainer {
    @include flex();
    justify-content: space-evenly;
}

.portfolioheading {
    text-align: center;
    font-size: $headingFrontpage4;
    text-transform: uppercase;
    margin: 0 0 3.125rem 0;
}

.pageinfo {
    max-width: 50%;
    margin: auto;
}

.pageinfo__heading {
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 20px 0;
}

.pageinfo__heading2 {
    margin: 0 0 0 30px;
}

.pageinfo__txt {
    margin: 20px 0 0 30px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons__specific {
    margin: 1.5rem 0 5rem 1.5rem;
}



.containersnap__spacex {
    width: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}


.containersnap__gameofthrones {
    width: 45%;
}

.linkcontainer {
    text-align: center;
    padding: 80px 0 80px 0;
}

.linkcontainer__btn {
    background-color: #ffe70b;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    color: $mainColor;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}


/*****************TABLETS**************************/

@media screen and (max-width: 1200px) {
    .portfolioheading {
        margin: 0 0 1.125rem 0;
    }

    .containersnap__spacex {
        width: 80%;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
    }

    .pageinfo__heading2 {
        margin: 0 0 0 30px;
    }

    .pageinfo {
        max-width: 90%;
        margin: auto;
    }

    .pageinfo__txt2 {
        margin: 20px 0 0 30px;
        font-size: $tabletHeading;
    }

    .icons__specific {
        margin: 0 30px 0 30px;
    }

    .fa-5x {
        font-size: 7em !important;
    }

    .containersnap__elements {
        margin: 10rem 0 0 0;
    }

    .containersnap__elements2 {
        margin: 5rem 0 0 0;
    }

    .containersnap__gameofthrones {
        width: 82%;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
    }

}

@media screen and(max-width: 767px) {
    .containersnap__spacex {
        width: 90%;
    }

    .btn-down {
        display: none;
    }

    .pageinfo {
        max-width: 90%;
        margin: 0 0 0 0;
    }

    .pageinfo__txt2 {
        margin: 20px 0 0 30px;
    }

    .pageinfo__heading {
        margin: 30px 0 20px 35px;
    }

    .fa-5x {
        font-size: 4em !important;
    }

    .icons__specific {
        margin: 0 20px 0 50px;
    }

    .mobile__specific {
        margin: 0 20px 0 29px;
    }
}