.containersnap {
    //background-image: url(/img/pattern.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: $fonts;
}

.btn-down {
    position: fixed;
    bottom: 100px;
    right: 50px;
}

.containersnap__elements {
    margin: 12rem 0 0 0;
}

.containersnap__imagecontainer {
    @include flex();
    justify-content: space-evenly;
}

.portfolioheading {
    text-align: center;
    font-size: $headingFrontpage4;
    text-transform: uppercase;
    margin: 3.125rem 0 3.125rem 0;
}

#pageinfo {
    max-width: 50%;
    margin: auto;
}

.pageinfo__heading {
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 20px 0;
}

.pageinfo__heading2 {
    margin: 0 0 0 30px;
}

.pageinfo__txt {
    margin: 20px 0 0 30px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons__specific {
    margin: 1.5rem 0 5rem 1.5rem;
}



.containersnap__spacex {
    width: 50%;
}


.containersnap__gameofthrones {
    width: 45%;
}