//headings
$headingOne: 3rem;
$textsize: 1.3rem;

//forms
$border-color: #6C6E66;

//Colors
$mainColor: #000;
$fontColor: #FFF;


//Mixins
@mixin flex {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;

}