//headings
$headingOne: 3rem;
$textsize: 1.3rem;

//fonts for index file
$headingFrontpage1: 4rem;
$headingFrontpage2: 3rem;
$headingFrontpage3: 2.5rem;
$headingFrontpage4: 1.9rem;

//tablet and phone fonts
$tabletNavFont: 30px;
$tabletHeading: 20px;
$tabletFonts: 16px;
$mobileNav: 18px;

//
$border-color: #6C6E66;

//Colors
$backgroundColor: #292929;
$mainColor: #000;
$fontColor: #FFF;

// fonts
@font-face {
    font-family: 'Ramabhadra';
    src: url(/fonts/Ramabhadra-Regular.ttf);
}

$fonts: 'Ramabhadra';


//Mixins
@mixin flex {
    display: flex;
}

@mixin btn {
    height: 3.5rem;
    border-radius: 5px;
    background-color: #ffe70b;
    text-transform: uppercase;
}

html,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
center,
ol,
ul,
li,
fieldset,
form,
label,
footer,
header,
menu,
nav,
section {
    margin: 0;
}

* {
    box-sizing: border-box;
}