//headings
$headingOne: 3rem;
$headingFrontpage: 2rem;
$textsize: 1.3rem;

//forms
$border-color: #6C6E66;

//Colors
$mainColor: #000;
$fontColor: #FFF;


//Mixins
@mixin flex {
    display: flex;
}

@mixin btn {
    height: 3.5rem;
    border-radius: 5px;
    background-color: #ffa500;
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;

}